@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@keyframes example {
  from {background-color: #fb7604}
  to {background-color: #fb770450}
}
@keyframes fontColor {
  from {color: #ffffff}
  to {color: #000000}
}
.topBanner{
  position: -webkit-sticky;
  position: sticky;
  height: 10vh;
  width: 100vw;
  top: 0px;
  background-color: #fb7604;
  
}

.loginParent{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  background-color: #ffffff34;
 
}

.mediumFont{
  font-family: 'Poppins', sans-serif;
  font-size: 3vw;
  position: absolute;
  left: 43vw;
  height: 10vw;
  width: 40vw;
  animation-name: fontColor;
  animation-duration: 21s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.largeFont{
  font-family: 'Poppins', sans-serif;
  font-size: 10vw;
}

.SideBar{
  position: fixed;
  left: 0%;
  width: 27vw;
  height: 100vh;
  background-color: #fb7604;
}
.twoButtons{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  left: 10vw;
  top: 65vh;
 
}